.nav{
  position: fixed;
  width: 100%;
  height: 90px;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
  transition: all .4s;
}
.logo img{
  height: 80px;
}
.navMenu{
  display: flex;
}
.navMenu a{
  color: #2c2c2c;
  font-size: 16px;
  text-transform: capitalize;
  padding: 10px 20px;
  font-weight: 400;
  transition: all .42s ease;
}
.navMenu a:hover{
  color:  #c6374f;
}
.nav-icons{
  display: flex;
  align-items: center;
}
.nav-icons a{
  margin-right: 20px;
  color: #2C2C2C;
  transition: all .42s ease;
}
.nav-icons a i{
  font-size: 25px;
  font-weight: 400;
}
.nav-icons a:hover {
  transform: scale(1.1);
  color: #c6374f;
}
.nav-icons button{
  background: transparent;
  border: none;
  display: none;
}
#menu-icon{
  font-size: 22px;
  color: #2C2C2C;
  z-index: 10001;
  cursor: pointer;
}
.nav.sticky{
  background: #fff;
  padding: 20px 10%;
  box-shadow: 0px 0px 10px rgb(0 0 0 /10%);
}
@media(max-width:890px){
  .nav{
    padding: 20px 3%;
    transition: .4s;
  }
}
@media (max-width:750px) {
  .navMenu{
    position: absolute;
    top: 100%;
    right: -100%;
    width: 300px;
    height: 130vh;
    background: #edfff1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 30px;
    transition: all .42s;
  }
  .navMenu a{
    display: block;
    margin: 18px 0;
  }
  .navMenu.open{
    right: 0;
  }
  .nav-icons button{
    display: block;
  }
}
.loginText{
  cursor: pointer;
}
.loginText::after{
  content: "";
  display: block;
  background: #c6374f;
  height: 3px;
  width: 0%;
  transition: all .42s;
}
.loginText:hover::after{
  width: 100%;
}
